result
.config/argocd/config
.config/helm/repositories.lock
.config/fish-ai.ini
.config/zed/**/*.mdb
.config/naps2/
.config/kat/policy.yaml
.config/github-copilot/
.config/dagger/
.config/auth0/
.config/colima/
.chief/
secrets/.doppler-tmp.json
secrets/*.tmp
sbom.cdx.json
lima/*.qcow2
lima/*.qcow2.zst
lima/result*
.direnv/
.task/
