.config/argocd/config
Brewfile.lock.json
.config/helm/repositories.lock
.config/fish-ai.ini
.config/zed/**/*.mdb
.config/naps2/
.config/kat/policy.yaml
.config/github-copilot/
.config/dagger/
.config/auth0/
.config/colima/
