(
    selected_tab: Some("#61afef"),
    command_fg: Some("#abb2bf"),
    selection_bg: Some("#393e48"),
    selection_fg: Some("#abb2bf"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#23272e"),
    disabled_fg: Some("#5c6370"),
    diff_line_add: Some("#98c379"),
    diff_line_delete: Some("#e06c75"),
    diff_file_added: Some("#98c379"),
    diff_file_removed: Some("#e06c75"),
    diff_file_moved: Some("#c678dd"),
    diff_file_modified: Some("#e5c07b"),
    commit_hash: Some("#c678dd"),
    commit_time: Some("#56b6c2"),
    commit_author: Some("#98c379"),
    danger_fg: Some("#e06c75"),
    push_gauge_bg: Some("#61afef"),
    push_gauge_fg: Some("#282c34"),
    tag_fg: Some("#c678dd"),
    branch_fg: Some("#e5c07b"),
    block_title_focused: Some("#61afef"),
)
